<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="assets/styles.css">
	<script src="http://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="js/client.js"></script>
	<title>
		Messages - WebTalky
	</title>
	<link rel="icon" href="images/icon.png" type="image/icon type">
	<div id="logo">
		<img src="images/logo.png" width="380" height="100" alt="Webtalky">
	</div>	
</head>

<body>
	<h1><%= nickName %></h1>
	<h1 id="topic"><%= topic %></h1>
	<script>var nickName = <%- JSON.stringify(nickName) %>;</script>
	<script>var topic = <%- JSON.stringify(topic) %>;</script>
	
	<form action="/logout?_method=DELETE" method="POST">
        <button type="submit" class ="logout">Log Out</button>
    </form>
    <div class="chat_header">
        <p id="intro_para">
            <h2> Enjoy your chat!! </h2>
        </p>
        <p id="intro_para">
            <h2> Learn something new about this topic!! </h2>
        </p>
    </div>
	<br>
	<div id="content">
		<div id="conversation">
			<div class="welcome-box">
				Your web pal is <span id="webpal">Pending...</span>
			</div>
			<div class="reply from-me">
				Hello! Welcome to WebTalky!
			</div>
			<div class="reply from-other">
				Bonjour! Bienvenu à WebTalky!
			</div>
			<div id="latest-reply" class="reply from-me invisible">
				You can see this message
			</div>
		</div>
		<div id="reply-box">
			<form id="reply">
				<textarea name="reply" id="inputField" class="rtext focused" spellcheck="false" maxlength="5000"
					style="overflow-y: hidden;"></textarea>
				<div class="button-wrap">
					<button id="send-button" type="button" class="roundButton btn-primary">Send</button>
				</div>
			</form>
			<!--<div class="button-wrap">
				<input class="button" id="reply-submit" type="button" value="Send" tabindex="2">
			</div>-->
		</div>
	</div>
</body>
</html>