<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Topics - WebTalky</title>
    <link rel="icon" href="images/icon.png" type="image/icon type">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <meta name="description" content="Choose your topic to discuss">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700" rel="stylesheet">
    <link rel="stylesheet" href="assets/styles.css">
    <link rel="stylesheet" href="assets/select.css">
    <script src="js/topicSelect.js"></script>
    <div id="logo">
        <img src="images/logo.png" width="380" height="100" alt="Webtalky">
    </div>
</head>

<body>
    <form action="/logout?_method=DELETE" method="POST">
        <button type="submit">Log Out</button>
    </form>
    <h1 class="heading">Topic Selection</h1>
    <div class="description">
        <p id="intro_para">
            <h2>Choose a topic and get connected with someone. </h2>
        </p>
        <p id="intro_para">
            <h2>There are numerouse topics to chat about!!</h2>
        </p>
    </div>
    <form action="/chat" method="post" id="topicForm">
        <div id="select-topic">
            <div class="circular-topic-select">
                <p class="center">
                    <div style="line-height: 1.5em;"><strong>Select the topic you want to talk about</strong></div>
                </p>
                <div class='center'>
                    <select name = "topicValues" class="custom-select" id="topicValues" placeholder="Pick a state...">

                    </select>
                </div>
                <div class="center" style="margin-top: 4px;">
                    <button type="submit" class="roundButton btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </form>
</body>

</html>